
<div class="contenedor-background d-flex justify-content-center align-items-center">

  <div class="card" style="width: 35rem;">
      <div class="content-logotipo">
    <img src="../../../assets/img/logotipo.png" class="card-img-top logotipo" alt="logotipo" title="logotipo">
      </div>
    <div class="card-body">
      <h5 class="card-title title-bienvenida">¡Bienvenido!</h5>
      <p class="card-text text-descripcion">
      Mi nombre es SOS y estoy aquí para brindarte un espacio en donde puedas apoyarte para resolver las emergencias en las que te encuentres.
      Gracias por preferirnos y recuerda que, siempre hay una solución al alcance de tus manos.</p>
      <button type="button" [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn btn-siguiente">Siguiente</button>

    </div>
  </div>

</div>

